<footer class="footer page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-4 mt-md-0 mt-3">

        <h5  style="color: #f7931e; font-weight: 600; font-size: 40px;">7sala</h5>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 style="color: #fff" class="text-uppercase">Popular Searches</h5>

        <ul class="list-unstyled">
          <li style="color: #f4f4f4;">
           Mobiles
          </li>
          <li style="color: #f4f4f4;">
            Games
          </li>
          <li style="color: #f4f4f4;">
            Hoodies
          </li>
          <li style="color: #f4f4f4;">
            Perfumes
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 style="color: #fff" class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled">
          <li style="color: #f4f4f4">
            Send A MESSAGE
          </li>
        </ul>
        <h5 style="color: #fff" class="text-uppercase">you can call us on</h5>
        <ul class="numbers">
          <li>
            02 330 44000
          </li>
          <li>
            0111 333 0252
          </li>
        </ul>

      </div>

    </div>

  </div>

 
</footer>
