<div class="navbar">

  <div class="logo">
    <img src="../../assets/logo.svg" routerLink="home" alt="logo">
    <h2 routerLink="home">7sala</h2>
  </div>

  <div class="search">
    <input class="form-control" type="text" name="search" placeholder="Search">
  </div>

  <div class="icons">
    <fa style="margin-right: 20px;" size="lg" name="bell"></fa>
    <fa size="lg" name="cart-plus"></fa>
  </div>


</div>


<div class="small-navbar">
  <div class="before"></div>
  <div class="list">
    <ul>
      <li>Shop</li>
      <li>Friends</li>
      <li>7sala</li>
      <li>Hedeya</li>
      <li>My Orders</li>
      <li>اللغة العربية</li>
    </ul>
  </div>
  <div class="after"></div>
</div>