* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 



.small-navbar{
  margin-top: 5px;
  padding-top: 5px;
  height: 40px;
  display: flex;
  background-color: #8b8b8a;
  border-bottom: 5px solid #f8931a;
}

.small-navbar .before{
  flex: 1px;
}

.small-navbar .list{
  display: inline;
  flex: 3px;
}

.small-navbar .list ul li{
  display: inline;
  color: #f1f1f1;
  font-weight: 500;
}

.small-navbar .list ul{
  display: flex;
  justify-content: space-between;
}



.small-navbar .after{
  flex: 1px;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background: #f9f9f9;
}
.logo {
  display: flex;
  justify-content: space-evenly;
}
.logo h2 {
  font-family: "Ma Shan Zheng", cursive;
  font-size: 32px;
  top: 12.5%;
  left: 260px;
  color: #ffab00;
  display: inline-block;
}
.logo img {
  left: 200px;
  top: 25%;
}
.search {
  width: 600px;
}
.search input {
    -webkit-box-shadow: 1px 16px 13px -13px rgba(107,103,107,1);
    -moz-box-shadow: 1px 16px 13px -13px rgba(107,103,107,1);
    box-shadow: 1px 16px 13px -13px rgba(107,103,107,1);
    
  padding: 0 30px;
  width: 100%;
  border-radius: 15px;
}
.icons {
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .search {
    width: 50%;
  }
}
