<div class="row pb-5" *ngIf="loading">
  <div class="col-md-12 p-5">
    <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#8b8b8a"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
    ></ngx-spinner>
  </div>
</div>



<div class="container" *ngIf="!loading">
  <div class="row">
    <div class=" my-col1 col-md-6 col-sm-12">
      <h4>
        {{productDetail[0].name}}
      </h4>

      <ngb-carousel *ngIf="imagesList.length">
        <div *ngFor="let img of imagesList">

          <ng-template ngbSlide>

            <div class="picsum-img-wrapper">
              <img [src]="img.src" alt="Random first slide">
            </div>

          </ng-template>

        </div>
      </ngb-carousel>

      <div *ngIf="!imagesList.length">
        <img src="" [alt]="productDetail[0].name">
      </div>


    </div>

    <div class="my-col2 col-md-6 col-sm-12">

      <div class="space"></div>

      <div class="prices">
        <h5 class="price">{{productDetail[0].price}} EGP</h5>
        <p *ngIf="productDetail[0].old_price"> {{productDetail[0].old_price}} aaaa</p>
        <p class="vat"> Inclusive of VAT</p>
      </div>

      <div style="width: 100%; height: 10%;">
        <div class="icons">
          <fa size="2x" name="far fa-heart"></fa>
          <fa style="margin-left: 20px;" size="2x" name="fas fa-share-alt"></fa>
        </div>
      </div>

      <div class="buttons">
        <button class="buy-now btn btn-primary mb-1 uppercase " type="submit">BUY NOW</button>
        <button class="recommendation btn btn-primary mt-1 uppsercase" type="submit">RECOMMEND THIS PRODUCT FOR
          HEDEYA</button>
      </div>

      <h5 class="mb-4" style="font-weight: 700;">
        Description:
      </h5>
      <p style="font-weight: 700; font-size: 16px;">{{productDetail[0].localized_names[0].short_description}}</p>
      <div class="desc mt-4">

        <pre style="font-weight: 600;" [innerHTML] = "description">{{description}}</pre>
      </div>

    </div>



  </div>
</div>